name: Terraform

on:
  workflow_dispatch:
jobs:
  terraform:
    if: github.ref == 'refs/heads/main'  # Ensures it runs only on the main branch
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.5.7  # Use your preferred version

    - name: Inject Secrets into Terraform Variables
      working-directory: ./terraform
      run: |
        sed -i "s/^db_username.*/db_username      = \"${{ secrets.TF_DB_USERNAME }}\"/" terraform.tfvars
        sed -i "s/^db_password.*/db_password      = \"${{ secrets.TF_DB_PASSWORD }}\"/" terraform.tfvars

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Terraform Init
      run: terraform init
      working-directory: ./terraform

    # - name: Terraform Destroy
    #   run: terraform destroy -auto-approve
    #   working-directory: ./terraform
    - name: Terraform Apply
      run: terraform apply -auto-approve
      working-directory: ./terraform


    - name: Get RDS Endpoint and Load Balancer DNS
      id: outputs
      working-directory: ./terraform
      run: |
        RDS_ENDPOINT=$(terraform output -raw rds_endpoint)
        LB_DNS=$(terraform output -raw load_balancer_dns)
        echo "::set-output name=rds_endpoint::$RDS_ENDPOINT"
        echo "::set-output name=load_balancer_dns::$LB_DNS"

    - name: Store RDS Endpoint as a Secret
      env:
        TOKEN_GITHUB: ${{ secrets.TOKEN_GITHUB }}  # GitHub token for accessing the API
      run: |
        curl -X PUT -H "Authorization: token $TOKEN_GITHUB" \
          -d "{\"encrypted_value\":\"$RDS_ENDPOINT\"}" \
          "https://api.github.com/repos/masar-developers/spring-boot-app-BM/actions/secrets/RDS_ENDPOINT"  # Store the secret

# Store the load_balancer_dns variable
    - name: Store the load_balancer_dns as a variable
      env:
        TOKEN_GITHUB: ${{ secrets.TOKEN_GITHUB }}  # GitHub token for accessing the API
      run: |
        curl -X PUT -H "Authorization: token $TOKEN_GITHUB" \
          -d "{\"encrypted_value\":\"$RDS_ENDPOINT\"}" \
          "https://api.github.com/repos/masar-developers/spring-boot-app-BM/actions/variables/LOAD_BALANCER_DNS"  